*{
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
    font-family: "outfit" , thin100;
    color: rgb(114, 112, 112);
}

.recipeCard{
    width: 50%;
    margin: 3em auto;
    padding: 2em;
    border-radius: 24px ;
    background-color: white;

}

.recipeCard img{
    width:98% ;
    border-radius: 16px;
    margin: 1em;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

b{
    color: rgb(71, 69, 69);
}

.preparation_time{
background-color: rgba(249, 219, 224 , 0.3);
   padding: 1.5em;
   margin: 1rem 1rem;
   border-radius: 10px;
   line-height: 1.8rem;
    align-items: center;
}

.list{
    padding: 1em 2em;
    line-height: 1.8rem;
    }

.preparation_time h3{
    color: rgb(128, 0, 58);
    font-size: 21px;
}

h2{
    padding-top: 0.8em ;
    color: rgb(134, 24, 24);
    border-top: 0.1rem solid rgb(244, 240, 240);
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

ul > li::marker{
    font-weight: lighter;
    color: rgb(134, 24, 24);
}

ol > li::marker{
    font-weight:bold;
    color:rgb(134, 24, 24) ;
}

p{
    padding: 1.5em 0em;
}

table{
    width: 100%;
    text-align: left;
    padding: 3em;
    border-spacing: 10px;
    border-collapse: collapse;
}

th,td{
    padding: 1em;
    margin: 0.2em;
    border-bottom: 0.1em solid rgb(244, 240, 240);
}

tr:last-child>th, tr:last-child>td {
    border-bottom: none;
}

td{
    color: rgb(134, 24, 24);
    font-weight: bold;
}

@media screen and (max-width:600px){
body{
    background-color: white;
}

.recipeCard{
    width: 95%;
    margin: 0;
    padding: 0.5em;
    background-color: white;
    }

.recipeCard img{
    width: 100%;
}

th,td{
    border-bottom: 0.1em solid rgb(244, 240, 240);
}
}
